
body {
	font-family: 'Work Sans', sans-serif;
	color: #00ff00;
	padding: 6px;
	background-color: #1c1c1c;
}

#home {
	font-size: 20px;
	text-align: center;
	margin-left: 60px;
	margin-right: 60px;
}

h1 {
	color: #808080;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Crimson Text', serif;
}

nav {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

pre {
	text-align: center;
}

dt{
    font-weight: bold;
}
footer p {
	position: relative;
	left: 550px;
	bottom: 7px;
}
