body {
	font-family: 'Work Sans', sans-serif;
	color: #00ff00;
	padding: 10px;
	background-color: #1c1c1c;
}

#penguin{
    font-family: serif;
    color: yellow;
}

#home {
	font-size: 18px;
	text-align: center;
	margin-left: 70px;
    margin-right: 70px;
    color: aquamarine;
}

#aside{
    text-align: right;
}

#pgpleft{
    text-align: left;
}

h1, h2 {
    color: #808080;
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Crimson Text', serif;
}

nav {
	display: block;
	width: 350px;
	margin: 0 auto;
	text-align: center;
}

pre {
	text-align: center;
}

dt {
	font-weight: bold;
}

dd{
    color: #808080;

}

address{
    color: #808080;
}

footer p {
    text-align: center;
}
