@media only screen and (max-width: 730px) {
	nav a {
		font-size: 23px;
	}

	#pgpleft {
		font-size: 17px;
	}

	
}

@media only screen and (min-width: 992px) {
	#home {
		margin-left: 70px;
		margin-right: 70px;
	}
}

body {
	font-family: 'Work Sans', sans-serif;
	color: #00ff00;
	padding: 10px;
	background-color: #1c1c1c;
}

#penguin {
	font-family: serif;
	color: yellow;
	text-align: center;
}

#home {
	font-size: 18px;
	text-align: center;
	color: #5f5f5f;
}
#home a {
	text-decoration: none;
	color: #5f5f5f;
}

#me{
	font-size: 7px;
	text-align: center;
	
}

#pgpleft pre {
	text-align: left;
	font-size: 14px;
}

#links {
	text-decoration: none;
	color: #00ff00;
}

#back {
	transform: rotate(180deg);
	display: inline-block;
	font-size: 30px;
}

a:link {
	color: white;
	text-decoration: none;
}
a:hover {
	color: green;
}

abbr {
	text-decoration: none;
}

h1,
h2 {
	color: #808080;
	display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Crimson Text', serif;
}

nav {
	display: block;
	width: 350px;
	margin: 0 auto;
	text-align: center;
}

dt {
	font-weight: bold;
}

dd {
	color: #808080;
}

address {
	color: #808080;
}

footer p {
	text-align: center;
	color: #808080;
}

footer p span {
	font: 18px Arial, sans-serif;
	display: inline-block;
	transform: rotate(180deg);
}
